@import "normalize.css";

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}


:root {
	--text: hsl(0 0% 0%);
	--white: hsl(0 0% 100%);
	--font-size: clamp(2rem, 8vw + 1rem, 10rem);
	--padding: 15vh;
	--nav: 80px;
  --margin: calc(var(--nav) + var(--padding));
  --header: calc(var(--nav) + var(--padding) + var(--font-size));
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-weight: 60;
  overflow-x: hidden;
  height: 100vh;
}



.content {
	margin: 0 auto;
	max-width: 100%;
	width: 80ch;
  padding: 0 1rem;
}

.first-div{
    height: 100vh;
}

section {
	background: var(--text);
	min-height: 100vh;
}

div section:first-of-type {
	background: var(--text);
	position: sticky;
	top: var(--margin);
	margin-top: var(--padding);
}

div {
	width: 100vw;
	background: transparent;
}

header {
	position: sticky;
	top: var(--margin);
	color: var(--white);
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
/* 	margin: calc(var(--padding) + var(--nav)) 0 0 0; */
	z-index: 2;
}

h1 {
	font-size: var(--font-size);
	line-height: 0.75;
	margin: 0;
	font-weight: 120;
  translate: 0 4px;
}

main > section {
	background: var(--white);
	display: grid;
	place-items: center;
}

main > section .content {
	padding: 0 1rem;
}

p {
	font-size: 2rem;
}

section {
	position: relative;
	overflow: hidden;
}

img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	filter: contrast(0.75) grayscale(1);
}

body > header {
	position: fixed;
	top: 0;
	z-index: 0;
  margin-top: var(--margin);

}

body > header h1 {
	color: var(--text);
}

main {
	clip-path: inset(var(--header) 0 0 0);
}

footer {
  max-width: 100vw;
	text-align: center;
	padding: 2rem 1rem;
}

h1{
    font-weight: 800;
}


#id{
    z-index: 9999;

}
.id-wrapper{
    z-index: 9999;
}