.headerContainer {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://live.staticflickr.com/65535/53554924200_f7baaf7754_k.jpg') no-repeat top fixed;
  background-size: cover;
}

.headerText {
  text-align: center;
  color: var(--sweetcorn-500); /* Adjust the text color as needed */
  /* background: rgba(0, 0, 0, 0.2);  */
  padding: 20px;
  border-radius: 0px; 
}

img{
  width: 1500px;
  height: 1500px;
}




@media (max-width:800px){
img{
  width: 300px;
  height: 300px;
}
}

