.predataWrapper{
height: 100vh;
background-color: white;
display:flex;
padding: 197px 57px ;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.predataContent{
display: flex;
flex-direction:column;
justify-content: center;
align-items:center;
height: 100%;
}

.scraperAndGraph{
display: grid;
grid-template-columns: 1fr 2fr;
align-items: center;
flex-shrink: 0;
justify-items: center;
padding: 2rem;
background-color: var(--woodsmoke-50);

}
.scraperWrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 96px 12px 0 12px;
gap: 8px;
position: relative;
justify-self:stretch;
}

.graph{
display: flex;
width: 100%;
height: 100%;
margin-top: 5rem;
padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 10px;
}

.listOfItems{
/* display: flex;
padding: 12px;
justify-content: space-between;
align-items: center;

width: 80%;

position: absolute; */
/* left: 25%; */
/* top: 26px;

border-radius: 8px;
border: 1px solid var(--woodsmoke-300);
background-color: var(--chestnut-50); */
}

.listOfItems button{
background-color:transparent;
border: 0;
cursor: pointer;
line-height: 0;
}


@media (max-width: 700px){
.scraperAndGraph{
display: block;
max-width: 100%;
}

.graph{
display: block;
}


}



